<?xml version="1.0"?>
<!--
/**
 * @category    Scandiweb
 * @package     ScandiPWA_DirectAddProductViaLinkGraphQl
 * @author      Jort Geurts <jort.geurts@scandiweb.com | info@scandiweb.com>
 * @copyright   Copyright (c) 2021 Scandiweb, Ltd (https://scandiweb.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="ScandiPWA_DirectAddProductViaLinkGraphQl" setup_version="0.0.1" />
</config>
